<div>
    <button md-button (click)="direction='top'">Top</button>
    <button md-button (click)="direction='right'">Right</button>
    <button md-button (click)="direction='bottom'">Bottom</button>
    <button md-button (click)="direction='left'">Left</button>
</div>

<div>
    <button md-button (click)="open.next(true)">Open</button>
    <button md-button (click)="open.next(false)">Close</button>
</div>

<ngc-float-button icon="group" (events)="output($event)" [open]="open" [direction]="direction">
    <ngc-item-button icon="group" content="float item 1"></ngc-item-button>
    <ngc-item-button icon="group" content="float item 2"></ngc-item-button>
    <ngc-item-button icon="group" content="float item 3"></ngc-item-button>
</ngc-float-button>