.fab-menu {
    box-sizing: border-box;
    font-size: 20px;
    width:55px;
    height: 55px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9;
    position: relative;
}

.fab-toggle {
  background: #009bdb;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 50px;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 200ms;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.fab-menu .fab-toggle:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.fab-menu /deep/ .item {
   opacity: 0;
}

.fab-menu.active /deep/ .item {
   opacity: 1;
}

.fab-menu.active /deep/ .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-menu.active /deep/ .content {
  display: block;
}

.fab-menu.active .fab-toggle {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}